@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#teasePopupHtml {
  max-height: 600px;
  height: auto;
  overflow-y: auto;
}

#teasePopupBody {
	font-family: "Nunito", sans-serif;
  margin: 0;
  width: 300px;
  height: auto;
  max-width: 100%;
}

.title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 8px;
}

.row {
  padding: 8px;
}

.logo {
	width: 30px;
	height: 30px;
	margin-right: 8px;
}

.warning {
	text-align: center;
	font-size: 12px;
}

.buttonRow {
	text-align: right;
	margin-top: 20px;
}

.version {
	font-size: 12px;
	font-weight: 500;
}